<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FlightBookingSuite">
    <listeners>
        <listener class-name="com.listeners.ScreenshotListener"/>
    </listeners>
    <test name="FlightBookingTest">
        <classes>
            <class name="com.tests.FlightBookingTest"/>
        </classes>
    </test>
</suite>